ul, li{
  list-style: none;
  align-content: center;
}
.ch {
   border: 2px solid black;
   list-style: none;
}

div, form {
  text-align: center;
}

h1 {
  text-align: center;
  background-color: #bd3d3d;
  width: 50%;

}

#message_bloc {
  border: 3px solid black;
}

#messagediv {
  background-color: #74c958;
  float: left;
  width: 25%;
}

#channeldiv {
  background-color: #61bfeb;
  float: left;
  width: 25%;
  text-align: center;
}

#userbloc {
  background-color: #bd3d3d;
  width: 50%;
  height: 100px;

}
input {
  background-color: inherit;
  border: 1px solid black;
}
