<!DOCTYPE html>
<html>
<head>

    <script src="/Users/home/Desktop/project2/static/index.js"></script>
    <title>Flack!</title>
</head>
<body>
    <h1>Welcome to Flack!</h1>
    <div id="userLine"></div>
    <form id="new_users">
        <input type="text" id='new_user' autocomplete="off" placeholder="username">
        <input type="submit">
    </form>

    <div>Available Channels</div>
    <ul id="channel_list" >
    </ul>
    <form id="new_channel">
        <input type="text" id="input_channel" placeholder="New channel">
        <input type="submit">
    </form>
    

</body>



</html>
